@tailwind base;
@tailwind components;
@tailwind utilities;

/* DDS-NET Elements */
body {
	background-color: #000;
    font-family: monospace;
    margin: 0;
    padding: 0;
}
.stat-bar {
	margin: 0.5rem 0;
	user-select: none;
	cursor: pointer;
	border-radius: 4px;
	outline-color: #000;
	outline-style: solid;
	outline-width: 2px;
}
.stat-bar label {
	font-size: .7rem;
	color: #FFF;
	margin-left: 0.5rem;
	cursor: pointer;
	user-select: none;
	text-shadow: 4px 4px 4px black
}
.bar-bg {
	@apply rounded rounded-tr-2xl;
    background-color: #000000;
    height: 8px;
    overflow: hidden;
    margin-top: 4px;
}
.bar-fill {
	@apply rounded rounded-tr-2xl;
    background-color: #FA726C;
    height: 100%;
}
.bar-fill2 {
	@apply rounded rounded-tr-2xl;
    background-color: #9BB1FF;
    height: 100%;
}
.bar-fill3 {
	@apply rounded rounded-tr-2xl;
    background-color: #32a852;
    height: 100%;
}
.party-menu{
	animation: scale-out-ver-bottom .2s 1;
}
.party-member {
	@apply rounded-md rounded-tl-2xl;
	user-select: none;
	padding: .2rem .2rem;
	font-family: monospace;	
}
.party-member:hover {
	@apply outline-accent;
	padding: .3rem .3rem;
	outline-style: double;
	outline-width: 4px;
	transition: outline-width 0.1s;
}
.party-member:focus {
	@apply outline-accent;
	padding: .3rem .3rem;
	outline-style: double;
	outline-width: 4px;
	transition: outline-width 0.1s;
	animation: bounce .2s .5;
}
.party-member-selected {
	@apply border-accent shadow-lg shadow-accent/50;
	outline-style: double;
	outline-width: 4px;
	animation: bounce .2s .5;
}
.tab-button {
	@apply rounded-sm rounded-tl-xl outline-secondary;
	outline-style: double;
	outline-width: 4px;
	color: white;
	font-family: monospace;
	font-size: 1rem;
	width: 15%;	
	transition: background-color 0.3s;
	transition: outline-width 0.1s;
}
.tab-button:hover {
	@apply outline-accent bg-accent;
	padding: .2rem .2rem;
}
.tab-button:focus {
	@apply outline-accent;
	padding: .2rem .2rem;
	animation: bounce .2s .5;
}
.tab-button-selected {
	@apply outline-accent bg-accent;
	animation: bounce .2s .5;
}
.term-shake {
	animation: shake .8s 1;
}
.term-bounce {
	animation: bounce .4s 1.5;
}
.term-pulse {
	animation: pulse .8s infinite;
}
.term-red {
	animation: bgcolor-red 1s 1;
}
.term-blue {
	animation: bgcolor-blue 1s 1;
}
.term-green {
	animation: bgcolor-green 1s 1;
}
.typing-cursor {
    display: inline-block;
    width: 10px;
    height: 16px;
    background-color: #fff;
    animation: blink 1s step-start infinite;
}
@keyframes blink {
    50% { background-color: transparent; }
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
#player-form {
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.form {
	@apply outline-secondary;
	outline-style: double;
	outline-width: 4px;
	animation: scale-in-ver-top .2s 1;
}
.form-text {
	opacity: 0.8;
	padding: .25rem;
	color: #fff;
	background-color: #000;
	font-family: monospace;
	outline-color: #fff;
	outline-style: solid;
	outline-width: 2px;
	border-radius: 0.25rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.form-text:hover {
	@apply outline-accent;
}
.form-text:focus {
	@apply outline-accent;
}
.form-button{
	opacity: 0.8;
	outline-color: #fff;
	outline-style: solid;
	outline-width: 2px;
	fill: transparent;
	border-radius: 0.25rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.form-button:hover 
{
	@apply outline-accent;
}
.form-button:focus 
{
	@apply outline-accent;
}
.form.closing {
	animation: scale-out-ver-top 0.2s ease-out;
}
.menu
{
	@apply rounded rounded-tl-3xl outline-primary;
	outline-style: double;
	outline-width: 4px;
	text-color: white;
	font-family: monospace;
	animation: scale-out-ver-bottom .2s 1;
}
.menu-option {
	@apply rounded rounded-tr-2xl;
	padding: .25rem;
	user-select: none;
	cursor: pointer;
	font-family: monospace;
}
.menu-option:hover {
	@apply outline-accent;
	outline-style: solid;
	outline-width: 2px;
	transition: outline-width 0.1s;
}
.menu-option:focus {
	@apply outline-accent;
	outline-style: solid;
	outline-width: 2px;
	transition: outline-width 0.1s;
	animation: bounce .2s .5;
}
.corner-button {
	@apply rounded-sm rounded-tl-2xl outline-secondary;
	outline-style: double;
	outline-width: 4px;
	color: white;
	font-family: monospace;
	font-size: 1rem;
	transition: background-color 0.1s;
	transition: outline-width 0.1s;
}
.corner-button:hover {
	@apply outline-accent bg-accent;
	padding: .5rem .5rem;
	transition: background-color 0.1s;
	transition: outline-width 0.1s;
}
.corner-button:focus {
	@apply outline-accent bg-accent;
	padding: .5rem .5rem;
	transition: background-color 0.1s;
	transition: outline-width 0.1s;
	animation: bounce .2s .5;
}
.corner-button-selected {
	@apply outline-accent bg-accent;
	animation: bounce .2s .5;
}

/* Animations */
@keyframes bounce {
	0%, 100% {
	transform: translateY(-25%);
	animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
	transform: translateY(0);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}
@keyframes ping {
	75%, 100% {
	transform: scale(2);
	opacity: 0;
	}
}
@keyframes shake {
	0%,
	100% {
	transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		transform: translateX(10px);
	}
	80% {
		transform: translateX(8px);
	}
	90% {
		transform: translateX(-8px);
	}
}
@keyframes bgcolor-red {
	0% {
	background: #dc2626;
	}
	100% {
	}
}
@keyframes bgcolor-blue {
	0% {
	background: #2563eb;
	}
	100% {
	}
}
@keyframes bgcolor-green {
	0% {
	background: #16a34a;
	}
	100% {
	}
}
@keyframes scale-in-ver-top {
	0% {
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 100% 0%;
		transform-origin: 100% 0%;
		opacity: 1;
	}
	100% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
		-webkit-transform-origin: 100% 0%;
		transform-origin: 100% 0%;
		opacity: 1;
	}
}
@keyframes scale-out-ver-top {
	0% {
		transform: scaleY(1);
		transform-origin: 100% 0%;
		opacity: 1;
	}
	100% {
		transform: scaleY(0);
		transform-origin: 100% 0%;
		opacity: 1;
	}
}
@keyframes scale-in-ver-bottom {
	0% {
		transform: scaleY(0);
		transform-origin: 0% 100%;
		opacity: 1;
	}
	100% {
		transform: scaleY(1);
		transform-origin: 0% 100%;
		opacity: 1;
	}
}
@keyframes scale-out-ver-bottom {
	0% {
		transform: scaleY(0);
		opacity: 1;
	}
	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}

/* CRT filter is a highly reduced version of css from https://aleclownes.com/2017/02/01/crt-display.html */
.crt {
	text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
}
.crt::before {
	content: " ";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	z-index: 2;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}
.crt::after {
	content: " ";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
}